.idea/**
__pycache__/
build/

# Project-specific
recordings/
scienceworld/version.py
scienceworld.egg-info/
simulator/project/build.properties
simulator/project/project/
simulator/project/target/
simulator/target/
